@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

li {
  list-style: none;
}
ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 16px
}
a{
  text-decoration: none;
  color: rgba(69, 66, 66, 0.855);
}

body{
  display: flex;
  flex-direction: column;
}
button{
  padding: 8px 16px;
}
.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.header,
.footer {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}
.footer{
  background-color: rgb(203, 199, 199);
}
.left-links,
.right-links {
  display: flex;
  gap: 15px;
  justify-content: center;
}