/* Add CSS Styling */
.odd {
    background-color: #e171a9;
    font-family: Verdana,"DejaVu Sans", sans-serif;
}

#sec{
    color: #0000ff;
    font-size: 36px;
}

#third {
    font-size:24px;
}

#fourth{
    background-color: #a0eca0;
    font-size: 24px;
    font-weight: 700;
}